button{
    border: 1px solid black;
    color: red;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.request-compliment{
    margin-bottom: 10%;
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#compliments{
    margin-top: 10%;
}

p{
    text-align: center;
}

.insult{
    font-family: 'Raleway', sans-serif;
}

.compliment{
    font-family: 'Raleway', sans-serif;
}